body {
	background-image: url("media/img/wallpaper.jpg");
	z-index: 0;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
	
}

#fundoPreto{
	height: 105%;
	background: rgba(61, 61, 61, 0.69);
	margin-top: 50px;
	margin-bottom: 100px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(200, 164, 109, 0.69);
}

.menu{
  overflow: hidden;
  background-color: rgba(12, 12, 12, 0.75);
}
.menu a{
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Gentium Book Basic', serif;
}
.menu a:hover{
  background-color: rgb(225, 225, 225);
  color: black;
}
.menu .icon{
  display: none;
}
@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}

#botao{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.3em;
  border: none;
  outline: none;
  background-color: rgba(200, 164, 109, 0.8);
  color: white;
  cursor: pointer;
  padding: 20px 15px 20px 15px;
  border-radius: 4px;
  font-family: 'Gentium Book Basic', serif;
}
#botao:hover{
  background-color: rgba(12, 12, 12, 0.8);
}

#sobreMim{
	margin-bottom: 80px;
}
#objetivos{
	margin-bottom: 80px;
}
#qualificações{
	margin-bottom: 80px;
}
#experiências{
	margin-bottom: 80px;
}

div.titleBox{
	height: 60px;
	max-width: 400px;
	background: rgba(19, 19, 19, 0.59);
	position: absolute;
	right: 50%;
	margin-right: -200px;
	border-style: solid;
	border-width: 3.5px;
	border-color: rgba(200, 164, 109, 0.59);
	text-align: center;
	color: rgb(200, 164, 109);
	font-size: 2.2em;
	font-family: 'Gentium Book Basic', serif;
}
#titleBox1{
	margin-top: 50px;
}
#titleBox2{
	margin-top: 70px;
}
#titleBox3{
	margin-top: 70px;
}
#titleBox4{
	margin-top: 70px;
}
#titleBox5{
	margin-top: 70px;
}

div.whiteSquare{
	height: 520px;
	width: 300px; 	
	background: rgba(230, 230, 230, 0.65);
	border-style: solid;
	border-width: 1%;
	border-color: rgba(200, 164, 109, 0.65);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	text-align: center;
}
#whiteSquare1{
	margin-top: 240px;
	padding-top: 50px;
	font-size: 1.25em;
	font-family: 'Gentium Book Basic', serif;
}
#whiteSquare2{
	margin-top: 280px;
	padding-top: 70px;
}
#whiteSquare3{
	margin-top: 280px;
	padding-top: 70px;
}
#whiteSquare4{
	margin-top: 280px;
	padding-top: 70px;
}

img.logos{
	width: 60px;
	margin-left: 10px;
	margin-right: 10px;
}

div.texto{
	color: rgb(200, 164, 109);
	font-size: 1.15em;
	font-family: 'Gentium Book Basic', serif;
	background: rgba(19, 19, 19, 0.59);
	border-style: solid;
	border-width: 3.5px;
	border-color: rgba(200, 164, 109, 0.59);
}
#textopg1{
	height: 100%;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30%;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
	text-align: justify;
}
#coluna1pg2{
	margin-left: auto;
	margin-right: auto;
}
div.coluna1pg2{
	height: 220px;
	min-width: 220px;
	text-align: center;
}
#texto1pg2{
	margin-top: 280px;
	padding-top: 20px;
}
#texto3pg2{
	margin-top: 80px;
	padding-top: 20px;
}
#coluna2pg2{
	margin-left: auto;
	margin-right: auto;
}
div.coluna2pg2{
	height: 220px;
	min-width: 220px;
	padding-top: 20px;
	text-align: center;
	font-size: 1.2em;
}
#texto2pg2{
	margin-top: 280px;
}
#texto4pg2{
	margin-top: 80px;
}
#textopg3{
	margin-top: 390px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 800px;
	padding-top: 20px;
	padding-bottom:20px;
	text-align: justify;
	font-size: 1.2em;
}
#textospg4{
	margin-left:auto;
	margin-right: auto;
}
div.textospg4{
	min-height: 70px;
	max-width: 600px;
	padding-top: 18px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: justify;
	font-size: 1.25em;
}
#texto1pg4{
	margin-top: 360px;
}
#texto2pg4{
	margin-top: 75px;
}
#texto3pg4{
	margin-top: 75px;
}
div.colunapg5{
	margin-top: 280px;
	margin-bottom: 100px;
	margin-left:auto;
	margin-right: auto;
	height: 100%;
	max-width: 220px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 10px;
	text-align: center;
	font-size: 1.3em;
	color: rgb(200, 164, 109);
	font-family: 'Gentium Book Basic', serif;
}

#perfil{
	width: 150px;
	border-style: solid;
	border-width: 1%;
	border-color: rgba(200, 164, 109, 0.65);
}

img.whiteSquare{
	width: 250px;
}
img.imgpg2{
	width: 100px;
}

@media screen and (max-width: 991px) {
	#whiteSquare2{
		margin-top: 80px;
	}
	#whiteSquare4{
		margin-top: 80px;
	}
	#textopg1{
		margin-top: 80px;
	}
	#textopg3{
		margin-top: 80px;
	}
	#texto3pg5{
		margin-top: 80px;
	}
	#texto4pg5{
		margin-top: 80px;
	}
}
@media screen and (max-width: 767px) {
	#texto2pg2{
		margin-top: 80px;
	}
}
@media screen and (max-width: 550px) {
	#texto2pg5{
		margin-top: 80px;
	}
}
@media screen and (max-width: 1999px) and (min-width: 992px) {
	br.extra{
		display: none;
	}
}
@media screen and (max-width: 1200px) {
	br.extra2{
		display: none;
	}
}
@media screen and (max-width: 991px) {
	#extra2{
		display: none;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	div.colunapg5{
		max-width: 240px;
	}
}
